body {
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

#container {
    width: 550px;
    height: 729px;
    background-color: #F4F4F4;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 0;
}

#title-container {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    display: grid;
}

h1 {
    font-family: "Inter", serif;
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}



#user-input{
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    text-align: center;
    width: 118px;
    height: 83px;
    margin-left: 216px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#user-input::placeholder {
    color: white;  /* Color for placeholder text */
    font-size: 12px;
    opacity: 0.7;  /* Optional: Adjust the transparency */
  }

  #buttons-container {
    width: 550px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#convert-btn, #clear-btn {
    background-color: #FFFFFF;
    font-family: "Inter", serif;
    font-size: 16px;
    color: #3D3D3D;
    width: 100px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#units-container {
    width: 500px;
    height: 109px;
    background-color: #FFFFFF;
    margin-right: 25px;
    margin-left: 25px;
}

#units-title {
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: bold;
    color: #5A537B;
}

#units-length, #units-volume, #units-mass {
    font-family: "Inter", serif;
    font-size: 14px;
    color: #353535;
}